{% load staticfiles %}
{% load i18n %}
{% load bootstrap %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% trans "Keyword Generator UI" %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "front/css/style.css" %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">{% trans "Keyword Generator UI" %}</a>
                </div>
                <div class="navbar-text pull-right">
                    {% trans "Author" %}: Paweł Szydło
                </div>
            </div>
        </div> <!-- /navbar -->

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}
                    <form role="form" method="post">
                        {% csrf_token %}
                        {{  form|bootstrap  }}
                        <div style="text-align: center">
                            <div class="time pull-left">{{ time }}</div>
                            <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
                            <a class="advanced pull-right">{% trans "Advanced" %} &raquo;</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div id="keywords">
                        <h4>{% trans "Keywords" %}:</h4>
                        {% if keywords %}
                            {% for kw in keywords %}
                                <span>{{ kw }}</span>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {% trans "Keywords will appear here." %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script>
            $(document).ready(function() {
                $("#id_text").focus();
                // if js is working, we can hide advanced settings...
                $("#id_method").parents(".form-group").hide();
                $("a.advanced").show();
                // ... and bind showing them to a link
                $("a.advanced").bind("click", function() {
                    $("#id_method").parents(".form-group").fadeIn(200);
                    $(this).hide();
                });
            });
        </script>
    </body>
</html>
